
.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  width: 220px;
  text-align: center;
  background: #fff;
  min-height: 400px; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.card h3 {
  font-size: 1rem;
  font-weight: bold;
  color: #000;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  white-space: normal; 
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.description {
  font-size: 0.9rem;
  color: #555;
  margin: 0.5rem 0 1rem;
  

  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

.price {
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: auto; 
}
